In [4]:
#!{sys.executable} -m pip install etherscan-python

In [44]:
import importlib_resources as resources
import sys
import pandas as pd
import threading
from datetime import datetime, timedelta
import os

from etherscan import Etherscan
import json
import time
import requests

import mysql.connector

## Connect to DB

In [6]:
conn = mysql.connector.MySQLConnection(user='root', password='23017376',
                                 host='localhost',
                                 database='Cryptologic_BE')

In [45]:
ETHERSCAN_KEY = os.environ.get('ZAZGB7REEJ4TSG38SS9PT6MR55KN83ZZ43')

## Update Wallet Balance

- Get Wallets from BD

In [7]:
df = pd.read_sql('SELECT * FROM WALLET', con=conn)

,id,Wallet_Hash,Update_Date,Load_Date,Balance,Coin_Type
0,2,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,2022-07-16 11:25:00,None,None,None
1,3,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,2022-07-16 11:25:00,None,None,None
2,4,0x745202bd80ced948601d42578aeba2131437f1af,2022-07-16 11:25:00,None,None,None
3,5,0x77d38a8f5d9d8a689a15436b5dc4d096f7011fe7,2022-07-16 11:25:00,None,None,None
4,6,0xf9075c34a8cc933996b867115a9fee02686e487f,2022-07-16 11:25:00,None,None,None

- Get Balance from Etherscan

In [8]:
# API Key for etherscan
eth = Etherscan('ZAZGB7REEJ4TSG38SS9PT6MR55KN83ZZ43')

In [35]:
#get_eth_balance function to get just one wallets
Wallet_Address = list(df['Wallet_Hash'])
eth_balance = eth.get_eth_balance_multiple(Wallet_Address)

In [36]:
ethBalance = pd.DataFrame(eth_balance, columns = ['account', 'balance'])
ethBalance = ethBalance.rename(columns={'account': 'Wallet_Hash', 'balance': 'Balance'})
ethBalance['Balance'] = ethBalance['Balance'].apply(lambda x: int(x)*10**-19)
ethBalance['Update_Date'] = datetime.now()
ethBalance.head()

,Wallet_Hash,Balance,Update_Date
0,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,297.523485,2022-07-16 12:25:35.453597
1,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,0.000026,2022-07-16 12:25:35.453597
2,0x745202bd80ced948601d42578aeba2131437f1af,0.000023,2022-07-16 12:25:35.453597
3,0x77d38a8f5d9d8a689a15436b5dc4d096f7011fe7,0.000119,2022-07-16 12:25:35.453597
4,0xf9075c34a8cc933996b867115a9fee02686e487f,0.000046,2022-07-16 12:25:35.453597

- merge dataframes

In [40]:
Walletdf = df.merge(ethBalance, left_on='Wallet_Hash', right_on='Wallet_Hash')
Walletdf['Coin_Type'] = 'eth'
Walletdf

,id,Wallet_Hash,Load_Date,Coin_Type,Balance,Update_Date
0,2,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,2022-07-16 11:25:00,eth,297.523485,2022-07-16 12:25:35.453597
1,3,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,2022-07-16 11:25:00,eth,0.000026,2022-07-16 12:25:35.453597
2,4,0x745202bd80ced948601d42578aeba2131437f1af,2022-07-16 11:25:00,eth,0.000023,2022-07-16 12:25:35.453597
3,5,0x77d38a8f5d9d8a689a15436b5dc4d096f7011fe7,2022-07-16 11:25:00,eth,0.000119,2022-07-16 12:25:35.453597
4,6,0xf9075c34a8cc933996b867115a9fee02686e487f,2022-07-16 11:25:00,eth,0.000046,2022-07-16 12:25:35.453597

- Update Balance in BD

In [41]:
import sqlalchemy

url = 'mysql+mysqlconnector://root:23017376@localhost:3306/Cryptologic_BE'
engine = sqlalchemy.create_engine(url)
Walletdf.to_sql("WALLET", engine, if_exists="replace", index= False)

## Wallet transactions Update

In [124]:
def transactions(wallet: str = None) -> list:
    assert(wallet is not None)
    url_params = {
        'module': 'account',
        'action': 'txlist',
        'address': wallet,
        'startblock': 0,
        'endblock': 99999999,
        'page': 0,
        'offset': 10,
        'sort': 'asc',
        'apikey': ETHERSCAN_KEY
    }
    
    response = requests.get('https://api.etherscan.io/api', params=url_params)
    response_parsed = json.loads(response.content)
    #assert(response_parsed['message'] == 'OK')
    txs = response_parsed['result']
    return [ {'Trx_From_Wallet': str(tx['from']), 'Trx_To_Wallet': str(tx['to']), 'Trx_Amount': int(tx['value'])*10**-19, \
              'Trx_Datetime': datetime.utcfromtimestamp(int(tx['timeStamp'])), 'Trx_Hash': str(tx['hash']), 'Trx_Gas': float((int(tx['gas'])*10**-19)), \
              'Trx_GasPrice': float((int(tx['gasPrice'])*10**-19)),'Trx_Status': str(tx['txreceipt_status']), 'Trx_Method_ID': str(tx['methodId'])} \
            for tx in txs ]

def Get_All_Trx_Portfolio(wallet_list: str = None) -> list:
    assert(wallet_list is not None)
    
    df = pd.DataFrame(columns = ['Trx_From_Wallet', 'Trx_To_Wallet', 'Trx_Amount', 'Trx_Datetime', 'Trx_Hash', 'Trx_Gas', 'Trx_GasPrice', 'Trx_Status', 'Trx_Method_ID'])
    
    for Wallet_Hash in wallet_list:
        
        print('Wallet being processed: ' + Wallet_Hash + '\n')
        
        trx_rslt = transactions(Wallet_Hash)
        Trx_df = pd.DataFrame(trx_rslt, columns = ['Trx_From_Wallet', 'Trx_To_Wallet', 'Trx_Amount', 'Trx_Datetime', 'Trx_Hash', 'Trx_Gas', 'Trx_GasPrice', 'Trx_Status', 'Trx_Method_ID'])
        df = df.append(Trx_df)
        del(Trx_df)
        
        time.sleep(5)
    
    return df

In [126]:
Trx_Output = Get_All_Trx_Portfolio(Wallet_Address)

Wallet being processed: 0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5

Wallet being processed: 0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42

Wallet being processed: 0x745202bd80ced948601d42578aeba2131437f1af

Wallet being processed: 0x77d38a8f5d9d8a689a15436b5dc4d096f7011fe7

Wallet being processed: 0xf9075c34a8cc933996b867115a9fee02686e487f

In [127]:
Trx_Output

,Trx_From_Wallet,Trx_To_Wallet,Trx_Amount,Trx_Datetime,Trx_Hash,Trx_Gas,Trx_GasPrice,Trx_Status,Trx_Method_ID
0,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0x8ec45f94832f5ff2e92bf2237b921526b5b15d0f,0.127408,2015-08-19 09:19:07,0xf2170b178010ca3f3f9cdab6e3873ec614fe996485e5...,2.500000e-15,1.146890e-07,,0x
1,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0xd9c13364c95e5f8e35d4bd4830e974a0652f83d8,0.060884,2015-08-19 09:19:07,0xa85d9c35ec92e144f191e68d888a0c990c7046afcf47...,2.500000e-15,1.146890e-07,,0x
2,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0xfe75342791a8492e5bfef9dbe16d4ec937671c9d,0.028327,2015-08-19 09:19:07,0x7b0938ad58590e4d080a388c5e32b19bfca994c3dbb4...,2.500000e-15,1.146890e-07,,0x
3,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0x37aad32f4b316d18a23db46bd3531d7d4d5fca8a,0.426569,2015-08-19 09:19:07,0x86208990131e66b63cfdeae5742a608756679052a216...,2.500000e-15,1.146890e-07,,0x
4,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0xf4f2c15602b084cae84ea603f75527de19705aa1,0.106135,2015-08-19 09:19:07,0x2c4dc63c9cd164158562d19076c9e6d73d69f01c71c6...,2.500000e-15,1.146890e-07,,0x
...,...,...,...,...,...,...,...,...,...
2,0x77d38a8f5d9d8a689a15436b5dc4d096f7011fe7,0xa090e606e30bd747d4e6245a1517ebe430f0057e,0.000230,2022-02-05 09:27:08,0x7c4c194fb38ecdb08da63d5f4a6f3cb9338feb484441...,2.100000e-15,5.215568e-09,1,0x
0,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,0xf9075c34a8cc933996b867115a9fee02686e487f,0.004801,2022-02-09 13:29:18,0xb10cc518f07a26dac4160670fb36f36f0747af395415...,2.100000e-15,5.232908e-09,1,0x
1,0xf9075c34a8cc933996b867115a9fee02686e487f,0xeb2629a2734e272bcc07bda959863f316f4bd4cf,0.004543,2022-02-09 13:33:45,0x7746d6a047fd71610facfe24fe5df542c917581f5eb3...,2.100000e-15,6.252662e-09,1,0x
2,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,0xf9075c34a8cc933996b867115a9fee02686e487f,0.004806,2022-05-18 07:07:00,0x69bf968ca5b23c4af504139093be3581615836f42fb6...,2.100000e-15,2.984292e-09,1,0x
3,0xf9075c34a8cc933996b867115a9fee02686e487f,0xb5d85cbf7cb3ee0d56b3bb207d5fc4b82f43f511,0.004830,2022-05-18 07:08:37,0xfbfab0fa96cfc809aeeb9ef441c10c4e58f105aba773...,2.100000e-15,2.696717e-09,1,0x

- Update Trx DB

# creating column list for insertion
cols = "`,`".join([str(i) for i in df.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in df.iterrows():
    sql = "INSERT INTO `TRANSACTIONS` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    cnx.commit()

In [128]:
Trx_Output.to_sql("TRANSACTIONS", engine, if_exists="replace", index= False)

- Close Connection

In [131]:
conn.close()