In [ ]:
#!pip install etherscan-python

In [ ]:
#!pip3 install mysql-connector

In [1]:
import importlib_resources as resources
import sys
import pandas as pd
import threading
from datetime import datetime, timedelta
import os

from etherscan import Etherscan
import json
import time
import requests

import mysql.connector

## Connect to DB

In [2]:
conn = mysql.connector.MySQLConnection(user='admin', password='wWusLXWEsxNqaviwGPsP',
                                 host='cryptologic-test-mysql-db.cyage1xxew24.us-east-1.rds.amazonaws.com',
                                 database='cryptologic_BE_Dev')

In [3]:
ETHERSCAN_KEY = os.environ.get('ZAZGB7REEJ4TSG38SS9PT6MR55KN83ZZ43')

## Update Wallet Balance

- Get Wallets from BD

In [4]:
df = pd.read_sql('SELECT * FROM WALLET', con=conn)
df

,index,Wallet_Hash,Balance,Update_Date,Coin_Type,Load_Date
0,6,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,301.841575,2022-07-24 19:25:16,eth,2022-07-16 11:25:00
1,7,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,0.000026,2022-07-24 19:25:16,eth,2022-07-16 11:25:00
2,5040,0xf1090f0adceed80b84cbca7649281c71cff9c728,NaN,NaT,None,2022-07-30 21:19:40
3,5041,0xc0b4189e4707da39e5e3ee2f388528623522e36f,NaN,NaT,None,2022-07-30 21:19:40
4,5042,0x599872bf0ba7689a4a71805b5f4d09fb275df5c0,NaN,NaT,None,2022-07-30 21:19:40
...,...,...,...,...,...,...
11278,16316,0xe2dc38c86274d7f8d96ee09dcf2072a329e6eda3,NaN,NaT,None,2022-08-01 19:24:57
11279,16317,0x5a505cc54a9a1e52262f2505eedb0c2822653251,NaN,NaT,None,2022-08-01 19:24:57
11280,16318,0xe840364aee732ae20b4e14197d0a155f421a8f2f,NaN,NaT,None,2022-08-01 19:24:57
11281,16319,0xfd2487cc0e5dce97f08be1bc8ef1dce8d5988b4d,NaN,NaT,None,2022-08-01 19:24:57
11282,16320,0x7011f3edc7fa43c81440f9f43a6458174113b162,NaN,NaT,None,2022-08-01 19:24:57

In [5]:
df = df[df['Wallet_Hash'].notna()]
df

,index,Wallet_Hash,Balance,Update_Date,Coin_Type,Load_Date
0,6,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,301.841575,2022-07-24 19:25:16,eth,2022-07-16 11:25:00
1,7,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,0.000026,2022-07-24 19:25:16,eth,2022-07-16 11:25:00
2,5040,0xf1090f0adceed80b84cbca7649281c71cff9c728,NaN,NaT,None,2022-07-30 21:19:40
3,5041,0xc0b4189e4707da39e5e3ee2f388528623522e36f,NaN,NaT,None,2022-07-30 21:19:40
4,5042,0x599872bf0ba7689a4a71805b5f4d09fb275df5c0,NaN,NaT,None,2022-07-30 21:19:40
...,...,...,...,...,...,...
11278,16316,0xe2dc38c86274d7f8d96ee09dcf2072a329e6eda3,NaN,NaT,None,2022-08-01 19:24:57
11279,16317,0x5a505cc54a9a1e52262f2505eedb0c2822653251,NaN,NaT,None,2022-08-01 19:24:57
11280,16318,0xe840364aee732ae20b4e14197d0a155f421a8f2f,NaN,NaT,None,2022-08-01 19:24:57
11281,16319,0xfd2487cc0e5dce97f08be1bc8ef1dce8d5988b4d,NaN,NaT,None,2022-08-01 19:24:57
11282,16320,0x7011f3edc7fa43c81440f9f43a6458174113b162,NaN,NaT,None,2022-08-01 19:24:57

- Get Unique Wallet id and load date

In [6]:
wallet = dict(df[['Wallet_Hash', 'Load_Date']].value_counts().index.values)

- Get Balance from Etherscan

In [7]:
# API Key for etherscan
eth = Etherscan('ZAZGB7REEJ4TSG38SS9PT6MR55KN83ZZ43')

In [8]:
#get_eth_balance function to get just one wallets
Wallet_Address = list(df['Wallet_Hash'].unique())

In [ ]:
import math

partition = 20

#for Wallet in Wallet_Address:
#    eth_balance = eth.get_eth_balance(Wallet)
for i in range(math.ceil(len(Wallet_Address)/partition)):
    #1st Iteration
    if i == 0: 
        eth_balance = eth.get_eth_balance_multiple(Wallet_Address[0:partition])
        ethBalance = pd.DataFrame(eth_balance, columns = ['account', 'balance'])
        time.sleep(1)
    #Last Iteration
    elif i == len(Wallet_Address)/partition - 1: 
        remaining_ids = len(Wallet_Address)%partition
        if remaining_ids > 0:
            eth_balance = eth.get_eth_balance_multiple(Wallet_Address[i*partition:i*partition + remaining_ids])
            Balance_ix = pd.DataFrame(eth_balance, columns = ['account', 'balance'])
            ethBalance = ethBalance.append(Balance_ix)
            del(Balance_ix)
            time.sleep(1)
    else:
        eth_balance = eth.get_eth_balance_multiple(Wallet_Address[partition*i:partition*i+partition])
        Balance_ix = pd.DataFrame(eth_balance, columns = ['account', 'balance'])
        ethBalance = ethBalance.append(Balance_ix)
        del(Balance_ix)
        time.sleep(1)

ethBalance.shape

In [11]:
#ethBalance = pd.DataFrame(eth_balance, columns = ['account', 'balance'])
ethBalance = ethBalance.rename(columns={'account': 'Wallet_Hash', 'balance': 'Balance'})
ethBalance['Balance'] = ethBalance['Balance'].apply(lambda x: int(x)*10**-19)
ethBalance['Update_Date'] = datetime.now()
ethBalance['Coin_Type'] = 'eth'
ethBalance.head()

,Wallet_Hash,Balance,Update_Date,Coin_Type
0,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,249.248420,2022-08-01 20:16:09.621427,eth
1,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,0.000026,2022-08-01 20:16:09.621427,eth
2,0xf1090f0adceed80b84cbca7649281c71cff9c728,0.000000,2022-08-01 20:16:09.621427,eth
3,0xc0b4189e4707da39e5e3ee2f388528623522e36f,0.000254,2022-08-01 20:16:09.621427,eth
4,0x599872bf0ba7689a4a71805b5f4d09fb275df5c0,0.000275,2022-08-01 20:16:09.621427,eth

- Add **load date** to new balances in wallets list

In [12]:
today = datetime.today()
ethBalance['Load_Date'] = today

In [13]:
ethBalance.set_index('Wallet_Hash', inplace=True)
ethBalance['Load_Date'] = ethBalance.index.map(wallet)

In [14]:
ethBalance = ethBalance.reset_index()
ethBalance

,Wallet_Hash,Balance,Update_Date,Coin_Type,Load_Date
0,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,2.492484e+02,2022-08-01 20:16:09.621427,eth,2022-07-16 11:25:00
1,0x4be353d6601b51e4ee7a8850c9a0f8f289d8da42,2.552988e-05,2022-08-01 20:16:09.621427,eth,2022-07-16 11:25:00
2,0xf1090f0adceed80b84cbca7649281c71cff9c728,0.000000e+00,2022-08-01 20:16:09.621427,eth,2022-07-30 21:19:40
3,0xc0b4189e4707da39e5e3ee2f388528623522e36f,2.541661e-04,2022-08-01 20:16:09.621427,eth,2022-07-30 21:19:40
4,0x599872bf0ba7689a4a71805b5f4d09fb275df5c0,2.748107e-04,2022-08-01 20:16:09.621427,eth,2022-07-30 21:19:40
...,...,...,...,...,...
11278,0xe2dc38c86274d7f8d96ee09dcf2072a329e6eda3,3.512814e-10,2022-08-01 20:16:09.621427,eth,2022-08-01 19:24:57
11279,0x5a505cc54a9a1e52262f2505eedb0c2822653251,5.313822e-04,2022-08-01 20:16:09.621427,eth,2022-08-01 19:24:57
11280,0xe840364aee732ae20b4e14197d0a155f421a8f2f,8.800000e-03,2022-08-01 20:16:09.621427,eth,2022-08-01 19:24:57
11281,0xfd2487cc0e5dce97f08be1bc8ef1dce8d5988b4d,3.243553e+00,2022-08-01 20:16:09.621427,eth,2022-08-01 19:24:57
11282,0x7011f3edc7fa43c81440f9f43a6458174113b162,6.930000e+00,2022-08-01 20:16:09.621427,eth,2022-08-01 19:24:57

- Update Balance in BD

In [15]:
import sqlalchemy

url = 'mysql+mysqlconnector://admin:wWusLXWEsxNqaviwGPsP@cryptologic-test-mysql-db.cyage1xxew24.us-east-1.rds.amazonaws.com:3306/cryptologic_BE_Dev'
engine = sqlalchemy.create_engine(url)

In [16]:
ethBalance.to_sql('WALLET', con=engine, if_exists='append', index = False)

/home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages/pandas/io/sql.py:1685: UserWarning: The provided table name 'WALLET' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

## Wallet transactions Update

In [ ]:
def transactions(wallet: str = None) -> list:
    assert(wallet is not None)
    url_params = {
        'module': 'account',
        'action': 'txlist',
        'address': wallet,
        'startblock': 0,
        'endblock': 99999999,
        'page': 0,
        'offset': 10,
        'sort': 'asc',
        'apikey': ETHERSCAN_KEY
    }
    
    response = requests.get('https://api.etherscan.io/api', params=url_params)
    response_parsed = json.loads(response.content)
    #assert(response_parsed['message'] == 'OK')
    txs = response_parsed['result']
    return [ {'Trx_From_Wallet': str(tx['from']), 'Trx_To_Wallet': str(tx['to']), 'Trx_Amount': int(tx['value'])*10**-19, \
              'Trx_Datetime': datetime.utcfromtimestamp(int(tx['timeStamp'])), 'Trx_Hash': str(tx['hash']), 'Trx_Gas': float((int(tx['gas'])*10**-19)), \
              'Trx_GasPrice': float((int(tx['gasPrice'])*10**-19)),'Trx_Status': str(tx['txreceipt_status']), 'Trx_Method_ID': str(tx['methodId'])} \
            for tx in txs ]

def Get_All_Trx_Portfolio(wallet_list: str = None) -> list:
    assert(wallet_list is not None)
    
    df = pd.DataFrame(columns = ['Trx_From_Wallet', 'Trx_To_Wallet', 'Trx_Amount', 'Trx_Datetime', 'Trx_Hash', 'Trx_Gas', 'Trx_GasPrice', 'Trx_Status', 'Trx_Method_ID'])
    
    for Wallet_Hash in wallet_list:
        
        print('Wallet being processed: ' + Wallet_Hash + '\n')
        
        trx_rslt = transactions(Wallet_Hash)
        Trx_df = pd.DataFrame(trx_rslt, columns = ['Trx_From_Wallet', 'Trx_To_Wallet', 'Trx_Amount', 'Trx_Datetime', 'Trx_Hash', 'Trx_Gas', 'Trx_GasPrice', 'Trx_Status', 'Trx_Method_ID'])
        df = df.append(Trx_df)
        
        time.sleep(5)
        
        #Update BD
        Trx_df.to_sql("transactions_aux", engine, if_exists="replace", index= False)
        mycursor.execute("""INSERT INTO TRANSACTIONS
                            SELECT A.Trx_From_Wallet,
                                    A.Trx_To_Wallet,
                                    A.Trx_Amount,
                                    A.Trx_Datetime,
                                    A.Trx_Hash,
                                    A.Trx_Gas,
                                    A.Trx_GasPrice,
                                    A.Trx_Status,
                                    A.Trx_Method_ID
                            FROM (SELECT B.*,
                                    A.Trx_Hash as TRXHASH
                                FROM transactions_aux as B
                                LEFT JOIN TRANSACTIONS as A
                                ON B.Trx_Hash = A.Trx_Hash) as A
                                WHERE A.TRXHASH is Null;""")
        print('BD Updated')
        del(Trx_df)
        
        mycursor.execute("DROP TABLE cryptologic_BE_Dev.transactions_aux")
        
    return df

In [ ]:
mycursor = conn.cursor()
#print the mycursor
print(mycursor)

In [ ]:
Trx_Output = Get_All_Trx_Portfolio(Wallet_Address)

In [ ]:
Trx_Output.describe()

- Update final table 'TRANSACTION'

In [ ]:
#sql = " exec Update_ETH_Trx @codemp = ?, @fecha = ? "
#prm = (dict['param1'], dict['param2'])
#mycursor.execute("call cryptologic_BE_Dev.Update_ETH_Trx();")

### PROC - Find new Wallets from transactions records

In [ ]:
#Time Out Proc !!!
#mycursor.execute("call cryptologic_BE_Dev.Find_New_Wallets_from_Transactions_TB();")

In [ ]:
sql = "SELECT B.Wallet as Wallet_Hash, \
    SYSDATE() AS 'Load_Date'\
FROM (SELECT DISTINCT Wallet \
        FROM (SELECT DISTINCT Trx_From_Wallet as Wallet FROM TRANSACTIONS \
        UNION SELECT DISTINCT Trx_To_Wallet as Wallet FROM TRANSACTIONS)as A) as B \
WHERE B.Wallet not in (SELECT Wallet_Hash FROM WALLET)"

In [ ]:
df = pd.read_sql(sql, con=conn)

In [ ]:
df.shape

In [ ]:
df.to_sql('WALLET', con=engine, if_exists='append', index = False)

- Close Connection

In [ ]:
conn.close()