In [40]:
#!pip install lightgbm --upgrade

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: lightgbm in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (2.0.3)
Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-manylinux1_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 83.6 MB/s eta 0:00:00
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from lightgbm) (1.20.3)
Requirement already satisfied: scipy in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from lightgbm) (1.5.3)
Requirement already satisfied: wheel in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from lightgbm) (0.37.0)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Installing collected packages: lightgbm
  Attempting uninstall: lightgbm
    Found existing installation: lightgbm 2.0.3
    Uninstalling lightgbm-2.0.3:
      Successfully uninstalled lightgbm-2.0.3
Successfully installed lightgbm-3.3.2

## Scoring

In [1]:
import sys
import pandas as pd
from datetime import datetime, timedelta
import os

import mysql.connector

In [2]:
nodeURL = 'https://mainnet.infura.io/v3/921f492428a6498a85b3c02dc2d48576' # Must be changed depending on the chain
user='admin'
password='wWusLXWEsxNqaviwGPsP'
database='cryptologic_BE_Dev'

In [3]:
def connect_to_db(_user, _password, _database):
    return mysql.connector.MySQLConnection(user=_user, password=_password,
                                 host='cryptologic-test-mysql-db.cyage1xxew24.us-east-1.rds.amazonaws.com',
                                 database=_database)

In [4]:
conn = connect_to_db(user, password, database)
mycursor = conn.cursor()
#print the mycursor
print(mycursor)

MySQLCursor: (Nothing executed yet)

In [75]:
query = """SELECT DISTINCT A.* FROM cryptologic_BE_Dev.ETHEREUM_FEATURES as A
            INNER JOIN (SELECT max(currentTime)as currentTime,
                            walletAddress
                        FROM cryptologic_BE_Dev.ETHEREUM_FEATURES GROUP BY WalletAddress) as B
            ON A.currentTime = B.currentTime
                AND A.walletAddress = B.walletAddress;"""
ETHFeat = pd.read_sql(query, con=conn)

In [76]:
query = """SELECT DISTINCT A.* FROM cryptologic_BE_Dev.ERC20_FEATURES as A
            INNER JOIN (SELECT max(currentTime)as currentTime,
                            walletAddress
                        FROM cryptologic_BE_Dev.ERC20_FEATURES GROUP BY WalletAddress) as B
            ON A.currentTime = B.currentTime
                AND A.walletAddress = B.walletAddress;"""
ERC20Feat = pd.read_sql(query, con=conn)

In [92]:
df = pd.merge(ETHFeat, ERC20Feat, how="outer", on="walletAddress") 
df.head()

,received:minValue_x,received:maxValue_x,received:avgValue_x,sent:minValue_x,sent:maxValue_x,sent:avgValue_x,sentToContract:minValue_x,sentToContract:maxValue_x,sentToContract:avgValue_x,total:transactions_x,...,time:diffBetweenFirstAndLastSent_y,time:diffBetweenFirstAndLastReceived_y,time:diffBetweenFirstAndLastTxn_y,erc20:uniqueTokenAddressesSent,erc20:uniqueTokenAddressesReceived,erc20:mostSentTokenAddress,erc20:mostReceivedTokenAddress,erc20:uniqueUnknownValueTokens,erc20:transactionsWithUnknownValueTokens,currentTime_y
0,0.400,1.518740,0.851990,0.042107,85.0,12.627885,0.042107,85.0,12.627885,16,...,197826.0,None,197826.0,1.0,0.0,0xdac17f958d2ee523a2206206994597c13d831ec7,None,0.0,0.0,2022-08-21 09:23:27
1,0.001,109.999791,0.697242,0.000000,110.0,4.870886,0.000000,0.0,0.000000,523,...,NaN,None,4774871.0,4.0,0.0,0xb64ef51c888972c908cfacf59b47c1afbc0ab8ac,None,4.0,8.0,2022-08-27 21:54:58
2,0.000,3.271617,0.160280,0.000000,50.0,5.984432,0.000000,0.0,0.000000,2872,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [113]:
timeLst = list()

for item in df.columns:
    if item.find('time') != -1:
        timeLst.append(item)

In [115]:
df[timeLst] = df[timeLst] / 6000

columns:

len(['Avg min between sent tnx','Avg min between received tnx','Time Diff between first and last (Mins)',
 'Sent tnx','Received Tnx','Number of Created Contracts','Unique Received From Addresses','Unique Sent To Addresses',
 'min value received','max value received ','avg val received','min val sent','max val sent','avg val sent',
 'min value sent to contract','max val sent to contract','avg value sent to contract','total transactions (including tnx to create contract',
 'total Ether sent','total ether received','total ether sent contracts','total ether balance',' Total ERC20 tnxs',
 ' ERC20 total Ether received',' ERC20 total ether sent',' ERC20 total Ether sent contract',' ERC20 uniq sent addr',' ERC20 uniq rec addr',' ERC20 uniq sent addr.1',
 ' ERC20 uniq rec contract addr',' ERC20 min val rec',' ERC20 max val rec',' ERC20 avg val rec',' ERC20 min val sent',' ERC20 max val sent',
 ' ERC20 avg val sent',' ERC20 uniq sent token name',' ERC20 uniq rec token name'])

In [117]:
cleandf = df.rename(columns={'time:avgBetweenSentTxn_x':'Avg min between sent tnx', 'time:avgBetweenReceivedTxn_x':'Avg min between received tnx',\
                  'time:diffBetweenFirstAndLastSent_x':'Time Diff between first and last (Mins)', 'total:uniqueReceivedFromAddresses_x':'Unique Received From Addresses',\
                  'total:uniqueSentToAddresses_x':'Unique Sent To Addresses', 'received:minValue_x':'min value received', 'received:maxValue_x':'max value received ',\
                  'received:avgValue_x':'avg val received', 'sent:minValue_x':'min val sent', 'sent:maxValue_x':'max val sent', 'sent:avgValue_x':'avg val sent',\
                  'sentToContract:minValue_x':'min value sent to contract', 'sentToContract:maxValue_x':'max val sent to contract',\
                  'sentToContract:avgValue_x':'avg value sent to contract', 'total:transactions_x':'total transactions (including tnx to create contract',\
                  'total:etherSent_x':'total Ether sent', 'total:etherReceived_x':'total ether received', 'total:etherSentToContract_x':'total ether sent contracts',\
                  'total:transactions_y':' Total ERC20 tnxs', 'total:etherReceived_y':' ERC20 total Ether received', 'total:etherSent_y':' ERC20 total ether sent',\
                  'total:etherSentToContract_y':' ERC20 total Ether sent contract', 'total:uniqueSentToAddresses_y':' ERC20 uniq sent addr',\
                  'total:uniqueReceivedFromAddresses_y':' ERC20 uniq rec addr', 'erc20:uniqueTokenAddressesReceived':' ERC20 uniq rec contract addr',\
                  'received:minValue_y':' ERC20 min val rec', 'received:maxValue_y':' ERC20 max val rec',\
                  'received:avgValue_y':' ERC20 avg val rec', 'sent:minValue_y':' ERC20 min val sent', 'sent:maxValue_y':' ERC20 max val sent', 'sent:avgValue_y':' ERC20 avg val sent',\
                  'erc20:uniqueTokenAddressesSent':' ERC20 uniq sent token name', 'erc20:uniqueUnknownValueTokens':' ERC20 uniq rec token name'})

In [118]:
cleandf = cleandf[['Avg min between sent tnx', 'Avg min between received tnx','Time Diff between first and last (Mins)', 'Unique Received From Addresses',\
                  'Unique Sent To Addresses', 'min value received', 'max value received ','avg val received', 'min val sent', 'max val sent',\
                  'avg val sent', 'min value sent to contract', 'max val sent to contract','avg value sent to contract',\
                  'total transactions (including tnx to create contract','total Ether sent', 'total ether received','total ether sent contracts',\
                  ' Total ERC20 tnxs', ' ERC20 total Ether received', ' ERC20 total ether sent',' ERC20 total Ether sent contract',\
                  ' ERC20 uniq sent addr',' ERC20 uniq rec addr', ' ERC20 uniq rec contract addr',' ERC20 min val rec', ' ERC20 max val rec',\
                  ' ERC20 avg val rec', ' ERC20 min val sent', ' ERC20 max val sent',\
                  ' ERC20 avg val sent',' ERC20 uniq sent token name',' ERC20 uniq rec token name']]

In [119]:
cleandf[['Sent tnx','Received Tnx', 'Number of Created Contracts', ' ERC20 uniq sent addr.1','total ether balance']] = 0

In [104]:
conn.close()

### Load Pickles

In [120]:
from sklearn.model_selection import StratifiedKFold, cross_validate, learning_curve, RandomizedSearchCV, train_test_split
from sklearn.metrics import f1_score, roc_auc_score, plot_confusion_matrix, accuracy_score
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
import lightgbm as lgb
import pickle


preprocessor = pickle.load(open('preprocessor.pkl', 'rb'))

In [121]:
model = pickle.load(open('mvp_model.pkl', 'rb'))

In [126]:
X_test = preprocessor.transform(cleandf.values)
predictions = model.predict_proba(X_test)
predictions_positive = [item[1] for item in predictions]

[0.13822720859172066, 0.06758395926902962, 0.09245694789221084]

In [138]:
outdf = pd.DataFrame(list(zip(list(df['walletAddress']), predictions_positive)), columns =['walletAddress', 'score'])
outdf['updatetime'] = datetime.now()

In [140]:
outdf

,walletAddress,score,updatetime
0,0xa90abe3365059c346ff04d22ac52e23998d29a37,0.138227,2022-08-28 19:23:33.650350
1,0x0a58b1c9aaf19693813c11b8a20d20c2a8fe8883,0.067584,2022-08-28 19:23:33.650350
2,0x3055307b225babd4689a6091b8f6b6cf82046d5f,0.092457,2022-08-28 19:23:33.650350

In [141]:
import sqlalchemy

url = 'mysql+mysqlconnector://admin:wWusLXWEsxNqaviwGPsP@cryptologic-test-mysql-db.cyage1xxew24.us-east-1.rds.amazonaws.com:3306/cryptologic_BE_Dev'
engine = sqlalchemy.create_engine(url)

outdf.to_sql('SCORED_WALLETS', con=engine, if_exists='append', index = False)